<footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-section">
          <h3>Autortiesības</h3>
          <p>&copy; 2024 web</p>
        </div>
        <div class="col-md-4 footer-section">
          <h3>Kontakt informācija</h3>
          <p><i class="bi bi-envelope-fill"></i> Epasts: jvg@edu.jekabpils.lv</p>
          <p><i class="bi bi-telephone-fill"></i> Numurs: +371 65237551</p>
          <p class="address"><i class="bi bi-geo-alt-fill"></i> Adrese: Rūdolfa Blaumaņa iela 27, Jēkabpils, Jēkabpils novads, LV-5201</p>
        </div>
        <div class="col-md-4 footer-section">
          <h3>Sociālie mēdiji</h3>
          <a href="https://www.facebook.com/jekabpilsvg/" class="social-media"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="https://twitter.com/JekabpilsVG" class="social-media"><i class="bi bi-twitter"></i> Twitter</a>
        </div>
      </div>
    </div>
  </footer>