<h1>Home</h1>
<ul>
    <% pages.filter(page => !page.parent).forEach(parentPage => { %>
      <li><%= parentPage.name %>
        <ul>
          <% pages.filter(page => page.parent === parentPage.name).forEach(childPage => { %>
            <li><%= childPage.name %></li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>

  <ul>
    <% for (const page of finishedPageNames) { %>
      <li><%= page.name %></li>
    <% } %>
  </ul>