<div style="display: flex; width: 100vw; overflow-x: hidden; flex-wrap: wrap;">
    <% blogs.forEach(blog => { %>
        <div class="blog-card" onclick="viewFullBlog('<%= blog._id %>')">
            <h2 class="blog-title"><%= blog.title %></h2>
            <p class="blog-content"><%= blog.textContent.substring(0, 100) %>...</p>
            <p class="submission-date">Submitted on <%= blog.submissionDate.toDateString() %></p>
            <!-- You can add more content or customize the card layout as needed -->
        </div>
    <% }); %>
</div>
<script>
    function viewFullBlog(blogId) {
        window.location.href = '/blogs/' + blogId; // Redirect to the route for full blog content
    }
    </script>