<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css">
  <style>
    body{
      margin: 0;
      overflow: hidden;
    }
    #gjs{
      overflow-y: scroll;
    }
    .gjs-dashed{
      overflow-y: scroll;
    }
  </style>
</head>
<body>
  <div id="gjs"></div>
  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://unpkg.com/grapesjs"></script>
  <script src="https://unpkg.com/grapesjs-blocks-basic@latest"></script>
  <script type="text/javascript">
    var editor = grapesjs.init({
      fromElement: 1,
      container : '#gjs',
      style: '.txt-red{color: red}',
      plugins: ['gjs-blocks-basic']
    });
  </script>
</body>
</html>

    