<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/editor.js" defer></script>
    <style>
        body {display:flex; margin: 0;overflow-x: hidden;min-height: 100vh;}

        .container{
            width: 50vw;
            height: 100vh;
            padding: 1rem;
            background-color: rgb(0, 0, 0);
            border: 2px solid white;
        }

        .draggable{
            padding: 1rem;
            background-color: azure;
            border: rgb(0, 0, 0) solid 1px;
            cursor: move;
            margin: 1rem;
        }

        .dragging{
            opacity: 70%;
        }
    </style>
</head>
<body>
    <div class="container">
        <p class="draggable" draggable="true">1 Kolonna</p>
        <p class="draggable" draggable="true">2 Kolonnas</p>
        <p class="draggable" draggable="true">3 Kolonnas</p>
        <p class="draggable" draggable="true">2 Kolonnas 3/7</p>
        <p class="draggable" draggable="true">Teksts</p>
        <p class="draggable" draggable="true">Virsraksts</p>
        <p class="draggable" draggable="true">Bilde</p>
        <p class="draggable" draggable="true">Tēmas sadaļa</p>
        <p class="draggable" draggable="true">Karte</p>
        <p class="draggable" draggable="true">Video</p>
        <p class="draggable" draggable="true">Hr</p>
      </div>
      <div class="container">
      </div>
</body>
</html>