/* admin.css */

:root {
    --text: #181818;
    --background: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Added to center vertically */
    color: var(--text);
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --background: #181818;
    }
}

.admin-container {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff11; /* Background color with opacity */
    border-radius: 5px;
}

.admin-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

button,
.options a {
    display: block;
    margin-bottom: 10px;
    padding: 6px;
    background-color: #9D2235;
    border: #9D2235 solid 5px;
    color: var(--text);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.options a:hover {
    background-color: #ffffff00; /* Transparent background on hover */
}

/*-------------------------- Styles for modal -------------------------------*/

/* Styles for modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.477);
}

/* Modal content */
.modal-content {
    max-width: 700px;
    background-color: var(--background);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Close button */
.close {
    color: var(--text);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Input box styles */
input[type="text"],
input[type="file"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
/*-----------blog-----------*/
/* Ensure textarea width matches input fields */
#blogContent {
    width: calc(100% - 6px); /* Subtract padding and border width */
}

/* Additional CSS for textarea */
textarea {
    resize: none; /* Disable textarea resizing */
    height: 100px; /* Set desired height */
    padding: 5px; /* Add padding */
}