h2 {
  color: #9D2235;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="radio"] {
  margin-right: 10px;
}

#details {
  display: none;
  margin-top: 20px;
}

#gradeDetails {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  margin-left: 20px;
}